h1 {
    font-family: sans-serif ;
    font-weight: 900;
    color: #742406 ;
    font-size: 3em;
}
h2 {
    font-family: sans-serif ;
    font-weight: 800;
    color: #742406 ;
    font-size: 2em;
}

h3 {
    font-family: sans-serif ;
    font-weight: 800;
    color: #742406 ;
    font-size: 1.5em;
}

h4 {
    font-family: sans-serif ;
    color: #612406;
    font-size: 1em;
    font-weight: 600;
}

h5 {
    font-family: sans-serif ;
    color: #612406;
    font-size: 1em;
}

p {
    font-family: sans-serif ;
    color: #612406;
    font-size: 0.8em;
}

ul {
    background-color: #FBF7E3;
    display: flex;
    justify-content: space-around;
    border-radius: 40px;
    list-style-type: none;
    align-items: center;
    padding: 20px;
    
}

.buttons {
    text-align: center;
    font-family: sans-serif ;
    color: #612406;
    font-size: 1em;
    font-weight: 500;
    background-color: #F3DF85;
    border-radius: 40px;
    border: none;
    align-items: center;
    padding: 15px 15px;
    margin: auto;
    flex-wrap: nowrap;
    
}
#mainButton {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 40px;
    border: none;
    background-color: #F3DF85;
    font-weight: 600;
    margin: auto;
    padding: 20px 20px;
  
    
}

#mainButton img{
    width: 60px;
    margin-right: 40px;
}

#mainButton p {
    font-size: 1.8em;
}

